* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.hrader-img{    
    font-size: 3em ;
}


.header-container {
    width: 90%;
    margin: auto;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-navigation-link>a>li {
    color: black;
    display: inline-block;
    margin-left: 30px;
    padding: 10px 15px;

    position: relative;


}

.table-dropdown {
    position: absolute;

    padding: 10px;
    
    border: 1px solid black;
    width: 500%;
    top:110%;
    left: -1px;

    transform: scale(0, 0);
    transition: 0.5s;
}


.table-dropdown ul {
    display: inline-block;
    list-style-type: none;
    margin-right: 50px;
}

.table-dropdown>ul>li:first-child {
    text-decoration: underline dotted 1px black;
    text-underline-offset: 0.5em;
    padding-bottom: 1em;
}

.header-navigation-link>a:first-child:hover .table-dropdown {
    transform: scale(1, 1);
}





/* ///////////////////////////////////////////////// */

.HR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}



.div1 {
    width: 0;
    height: 1px;


    background-color: black;
    transition: 0.5s;

}

.header-navigation-link>a>li:hover .div1 {
    width: 100%;
    width: 100%;
}

.div2 {

    width: 0;
    height: 1px;


    background-color: black;
    transition: 0.5s;
}

.header-navigation-link>a>li:hover .div2 {
    width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////// */

.V {
    display: flex;
    flex-direction: column;
    justify-content: center;



    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

}



.V>div {

    position: absolute;
    transition: 1s;


    height: 0%;
    width: 1px;

    background-color: black;
}

.div3 {
    align-self: flex-end;
}

.header-navigation-link>a>li:hover .V>div {
    height: 100%;
}


/* /////////////////////////////////////////// */
